<template>
    <div id="app-layout">
        <navigation></navigation>
        <router-view></router-view>
    </div>
</template>

<script>
    import Navigation from '../components/global/Navigation.vue';

    export default {
        name: "Layout",
        components: {
            Navigation,
        },

        created() {
            this.$store.dispatch('loadCafes');
            this.$store.dispatch('loadUser');
        }
    }
</script>

<style scoped>

</style>
